@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}
.container{
    background: linear-gradient(rgb(191, 139, 44),  rgb(146, 102, 22));
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scoreBox{
    position: absolute;
    top: 9px;
    right: 153px;
    font-size: 38px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}
#board{
    background: linear-gradient(rgb(191, 139, 44),  rgb(146, 102, 22)); 
    border: 2px solid black; 
    width: 87vmin;
    height: 85vmin;
    display: grid;
    margin-left: -495px;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}
.head{
    background: linear-gradient(red, yellow);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 10px;
}
.snake{
    background-color: rgb(249, 176, 7);
    border : .25vmin solid rgb(239, 235, 235);
    border-radius: 16px;
}
.food{
    background: linear-gradient(rgb(205, 137, 76) , rgb(181, 226, 85)); 
    border : .25vmin solid rgb(239, 235, 235);
    border-radius: 10px;
}
